.boxy-div {
  box-sizing: border-box;
  padding: 1em;
  border: .1em solid #E8E8E8;
  background-color: #F8F8F8;
}

#userMap {
        height: 400px;
        width: 100%;
       }

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-action {
  display: flex;
  justify-content: flex-start; 
  flex-wrap: wrap;
  padding: 1em;
}

.highlight {
  color: #27ae60;
  font-size: 1.6em;
}

.move-right {
  margin-left: 1em;
}

.move-left {
  margin-right: 2em;
}

.move-down {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 2em;
}

.remove-margin {
  margin: 0;
}

.action-card {
  border: solid 2px #E8E8E8;
  background-color: #fdfdfd;
  width: 31%;
  border-radius: 5%;
  height: 100%;
  padding: 2em;
  text-align: center;
}

.section-header {
  padding: 1em 0 .5 0;
}

.spotlight {
  background-color: #294f75;
  color: white;
  padding: .2em;
}

.card {
  margin: 0;
}

.current-location {
  padding: 1em;
  background-color: #2ECC71;
  color: #FFF;
  border: solid .4em #49B86E;
}

#dashboard-header {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.current-location-header {
  text-align: center;
}

div > .panel-body {
  margin-top: 0;
  padding: 1em;
}

.panel-body {
  padding: 0;
}

.panel-body div {
  padding: .5em;
}

div > .cls-content {
  margin-top: 5em;
  padding: 2em;
}

.map-container {
  width: 100% !important;
  height: 100% !important;
}

.inline {
  display: inline-block;
}